<?xml version="1.0" encoding="utf-8" ?>
<list>
  <pmat name="tiaozhan" text="挑战" image="fight.bmp" enable="0" _dx="-20" _dy="-10" dx="20" dy="10"></pmat>
  <pmat name="shengli" text="胜利" image="success.bmp" enable="0" _dx="-50" _dy="-60" dx="100" dy="30"></pmat>
  <pmat name="jieshu" text="结束" image="end.bmp" enable="0" _dx="-60" _dy="-30" dx="30" dy="20"></pmat>
</list>